
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

$primary-color: #0680b8;
$secondary-color: #ffde00;

body {
  font-family: "Noto Serif Bengali", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


